.brandName {
  font-weight: 700;
}

.App {
  display: flex;

  /* margin:auto !important; */
}
html {
  text-align: center !important;
  margin: auto !important;
}

.activeIngredients {
  color: #707070;
  font-style: italic;
  font-family: "didot";
  font-weight: 700;
}
.ui.basic.button {
  color: grey !important;
}

.ui.basic.button:hover {
  background-color: black !important;
  color: white !important;
}

.product-name {
  font-family: "didot" !important;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem !important;
}

#log-out-link {
  align-self: flex-end;
  color: #101010;
  font-size: 0.8rem;
}

#log-out-link-container {
  margin-left: 75%;
  text-align: center;
}

.ui.vertical.buttons > .button {
  font-family: source-code-pro, monospace;

  font-weight: 400;

  font-style: italic;
  margin: 1% !important;
  min-width: 10em;
  color: #707070 !important;
  border: 0.01em solid #707070 !important;
}

.ui.vertical.buttons > .button::hover {
  font-family: source-code-pro, monospace;

  font-weight: 400;

  font-style: normal;
  margin: 1% !important;
  min-width: 10em;
  color: #707070 !important;
  border: 0.01em solid #707070 !important;
}

.ui.basic.vertical.buttons {
  border: none !important;
}

.ui.basic.vertical.buttons.button:first-child {
  margin-top: 2%;
}

.main-container {
  margin-left: 1em;
  margin-top: 0.8em;
  border: 1px solid #707070;
  background: white;
  height: 90vh;
  overflow-y: scroll;
}

.logo {
  margin-top: 0.4em !important;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  font-family: "didot";
}
.strapline {
  font-weight: 300;
  margin-bottom: 3%;
  margin-top: -1%;
}
.main-title {
  margin: 3%;
  color: #505050;
  font-size: 1.5rem;
  font-weight: 400;
}

.background {
  height: 100vh;
  padding: 1em;
  background: #fff7f8;
}

ul {
  padding: 0;
}

.selectedBrand,
.productCard {
  flex-flow: column wrap;
  align-items: center !important;
  justify-content: center !important;
  align-self: center !important;
  max-width: 70vw !important;
  /* border-bottom: 0.25px solid rgba(34, 36, 38, 0.15) !important; */
  border-top: 0.25px solid #707070 !important;
  box-shadow: none !important;
  border-top: none !important;
  padding-bottom: 10% !important;
  margin: auto !important;
}

.h1 {
  font-family: "didot" !important;
  font-style: italic !important;
}

.ui.green.basic.button.running-low-button,
.ui.grey.basic.button.delete-product-button {
  font-family: source-code-pro;
  font-style: italic;
  font-weight: 300;
}

.ui.selection.dropdown,
.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input,
.search,
textarea,
.product-card {
  width: 70vw !important;
  margin: auto !important;
}

.product-listing {
  color: #101010;
  margin-bottom: -1%;
}

.diary-info {
  font-family: "didot" !important;
  font-style: italic;
}
